 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #6d28d9;
    --dark-gray:#6b7280;
    --off-white:#f3f4f6;
}

body {
    font-family: 'Roboto', sans-serif;
   margin: 0 ;

    width: 100%;

  
}

.showcase-blog{
    padding-bottom: 6rem;
}

/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 900px;
    width: auto;
    margin: auto;
}


/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.link.link-primary {
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: white;
}

.link.link-secondary {
    color: var(--primary-color);
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}

hr {
    margin: 2rem 0rem;
}

.non-bullet {
    list-style: none;
}


.list-item-inline {
    display: inline;
    padding: 0rem 0.2rem;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    color: white;
    padding: 1rem;
}

.new-brand {
    font-weight: bold;
}


.nav-pills {
    text-align: right;
}

.link {
    color: white;
}

.link.link-active {
    font-weight: bold;
}
/* .hero{
    padding:1rem 0rem;
} */
.hero-img {
    max-width: 80%;
    width: 550px;
    margin: auto;
    display: block;
    padding: 2rem ;
    padding-top: 5rem;
}

.hero-heading {
    color: var(--dark-gray);
    text-align: center;
    padding-bottom: 2rem;
}
.project-hero-heading{
    color: var(--dark-gray);
    text-align: center;
    padding: 4rem;
}
.heading-inverted {
    color: var(--primary-color)
}
.section{
    padding: 2rem;
    text-align: center;
}
.section h1 {
    text-align: center;
   
}
.section.ow{
    background-color:var(--off-white);
    margin-bottom: 30px;}

.footer
{background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    color: white;
    padding:0.5rem ;
    text-align: center;
}
.footer.header{
    font-weight: bold;
    font-size: large;
}
    

.footer.non-bullet {
    list-style: none;
}

.footer.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}






